<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>beautu</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/header.css" />
		<link rel="stylesheet" href="fontello/css/fontello.css">
	</head>
	<body>

		<!-- 유튜버 프로필사진 -->
		<header id="header">
			<span class="profile">
				<img src="images/profile.jpg" alt="{{ site.url  }}/category" />
				<!-- 검색창 -->
				<div class="search">
					<!-- Ex 3: Modify forms -->
					<form class="search-form" action="index.html" method="get">
						<input type="text" name="query" placeholder="제품을 검색하세요!">
						<input type="submit" value="search">
					</form>
				</div>
			</span>

		<!-- 목룍 -->
			<ul class="link">
				<li><a href="{{ site.url }}/category" class="category"><span class="label">카테고리</span></a></li>
				<li><a href="{{ site.url }}/playlist" class="playlist"><span class="label">플레이리스트</span></a></li>
			</ul>
		</header>

	<!-- {% if page.title == "category" %}
	{% include category.html %}
	{% else %} -->

		<article id="searchresult">
			<img src="images/sample.jpg">
			<div>
				<h2>제품 이름 자리</h2>
				<ul class=prolist>
					<li id="count"><span>30회 등장</span></li>
					<li id="video"><span>등장 영상 보기</span></li>
				</div>
			</div>
		</article>


		<footer id="footer">
			<li><a href="imyeonn@gmail.com" class="icon-mail"><span class="label">요청사항, 궁금한 점은 여기로!</span></a></li>
			<p>&copy; Hyeyeon. All rights reserved.</p>
		</footer>

	</body>
</html>
