/* 2010036239 박성진*/
#brand .fa-facebook {
    color:#3b5998;
}
#brand .fa-twitter {
    color:#55acee;
}
#brand .fa-google {
    color : #dd4b39;
}
#brand .fa-pinterest{
    color : #c8232c;
}
#brand .fa-instagram {
    color :#3f729b;
}
#brand .fa-tumblr{
    color : #34526f;
}

#search-wrap{
    padding :0;
    overflow: hidden;
    float : none;
    position: relative;
}
#search-wrap input{
    border : none;
    padding: 0.65em 0.75em;
    font-size: 16px;
    background-color: white;
    width: 94%;
    z-index: 1;
}
#search-wrap button {
    border : none;
    background-color: white;
    top :3px;
    right : 4px;
    padding: 0.65em 0.75em;
    position: absolute;
    font-size: 13px;
    z-index: 2;
}

body{
    font-family: Brown, verdana,sans-serif;
    margin:0px;
    padding:0px;
}
body > div, header > div{
    max-width: 1024px;
    margin: 0 auto;
}
body>div{
    overflow: hidden;
}

header{
    background-color: black;
    color:white;
    overflow: hidden;
}

header>div> div{
    float:left;
    font-size:15px;
    padding-top:11px;
    padding-bottom:11px;
    padding-right:30px;
}
header>div> div:hover{
    color:#1cace2;
    cursor:pointer;
}
#festival{
    color:#ff6567;
    float: right;
}
#festival:hover{
    color:#1cace2;
    cursor:pointer;
}
#brand{
    padding-top:32px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
#brand img{
    width:300px;
    height:62px;
    overflow: hidden;
}
#brand > div{
    float: right;
    margin-top:45px;
}
#brand >div a{
    text-decoration: none;
    padding-left: 10px;
}
nav div{
    float:left;
    border:1px solid #D9D9D8;
    padding-top: 0.65em;
    padding-bottom: 0.65em;
    padding-left: 0.72em;
    padding-right: 0.72em;
}
/*nav div:hover{
    border:2px solid black;

}*/
nav div:not(:nth-last-child(1)):hover{
    box-shadow: inset 0 0 0 2px black;
}

#search-wrap{
    padding-top: 1px;
    padding-bottom: 1px;
}
div h1{
    text-align: center;
}

.weekbar{
    background-color: black;
    text-align: center;
    color:white;
    overflow: hidden;
}
.fa{
    text-align: center;
}
.weekbar .fa-facebook{
    float:left;
    border-radius: 50%;
    font-size: 1.25em;
    width: 32px;
    height: 32px;
    background-color: #3b5998;
    margin-top: 10px;
    margin-left: 10px;
    line-height: 32px;

}
.weekbar .fa-twitter{
    float:left;
    border-radius: 50%;
    font-size: 1.25em;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: #55acee;
    margin-top: 10px;
    margin-left: 0.25em;
}
aside{
    background-color: black;
    color: white;
    margin-top : 10px;
    margin-left: 10px;
    width :300px;
    float: right;
}

aside .chart{
    background-color: #484647;
    padding:0.75em;
}
aside div .fa-star{
    color:black;
}
aside .arow{
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #989898;
}
aside>div>div > div:first-child{
    color:#989898;
    padding: 1em;
}
aside >div>div> div:nth-child(2){
    width:45px;
    font-size:2em;
    margin-top: 6px;
    float:left;
    text-align: center;
}
aside>div>div> div:nth-child(3){
    width: 192px;
    float:left;
}
aside>div>div> div:nth-child(4){
    float:left;
}

aside>div>div >div>p> span:nth-child(1){
    /*font-size: 2em;*/

    font-size:1em;
    display: block;

}
aside>div>div >div>p> span:nth-child(2){
    font-size:12px;
    display: block;
    color:#1cace2;
}


aside>div>div> div img{
    width: 2.5em;
    height: 2.5em;
    margin: 6px;
    float:left;
}

aside>div>div> div p{
    margin:0px;
}
aside>div>div> div .fa-play{
    width: 32px;
    height: 32px;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
    line-height: 32px;
}


article{
    margin-top: 10px;
    overflow: hidden;
}

article>div{
    border-bottom: 1px solid white;
    border-top: 1px solid #CDCDCD;
    overflow: hidden;
}
article>div> div{
    float:left;
}
article>div> div:first-child{
    height:104px;
    width:34px;
    line-height: 104px;
    text-align: center;
    color:#8c8e90;
    background-color: rgb(231,231,231);


}
.fa-arrow-down{
    color:#f93c33;
}
.fa-arrow-up{
    color:#05c648;
}
article>div:hover{
    border-color:black;
}
article>div> div:nth-child(2){
    width:100px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
article>div> div:nth-child(2) span:first-child{
    font-size:62px;
    text-align: center;
}
article>div> div:nth-child(2) span:nth-child(2){
    font-size:12.4px;
    color: #989898;
    line-height: 1px;
    text-align: center;
}
article>div> div img{
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 12px;
    width: 91px;
    height: 91px;
    float: left;
}
article>div> div p{
    float:left;
}
article>div> div span{
    display: block;
}
.song{
    color:black;
    font-size: 24px;
}
.artist{
    color:#1cace2;
    font-size: 16px;
}
article>div> div:nth-child(4){
    float:right;
}
article>div>div> .fa-play{
    width:32px;
    height: 32px;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 15px;
    margin-top: 15px;
    margin-right: 10px;
    text-align: center;
    line-height: 32px;
}
footer {
    text-align: right;
    background-color: black;
}
.artist:hover{
    text-decoration: underline;
    cursor: pointer;
}
.fa-play:hover{
    color:#1cace2;
    cursor: pointer;
}
